.routes {
  margin: 0 auto;
  padding: 50px;
  width: 80%;

  form {
    display: block;
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }

  .prediction-container {
    .prediction {
      padding: 20px;
      margin: 5px 0;
      border: 1px solid lightgray;
    }
  }
}
