<p *ngIf='loading | async'>Looking up routes</p>
<div class='routes'>
  <!-- <div class='route' *ngFor='let route of routes | async' [ngStyle]='{"background": "#" + route.attributes.color}' (click)='fetchStops(route)'>
    <p>
      <span>Name: </span>
      <span>{{route.attributes.long_name}}</span>
    </p>
  </div> -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Select You Route</mat-label>
      <mat-select (selectionChange)='fetchStops($event)' formControlName='route'>
        <mat-option *ngFor="let route of routes | async" [value]="route">
          {{route.attributes.long_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf='(stops | async).length > 0'>
      <mat-label>Select You Stop</mat-label>
      <mat-select formControlName='stop'>
        <mat-option *ngFor="let stop of stops | async" [value]="stop">
          {{stop.attributes.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf='directions.length > 0 && (stops | async).length > 0'>
      <mat-label>Select You Direction</mat-label>
      <mat-select formControlName='direction'>
        <mat-option *ngFor="let direction of directions, let i = index" [value]="i">
          {{direction}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type='submit' [disabled]='form.invalid || (loadingPrediction | async)'>Search</button>
  </form>

  <div class='prediction-container'>
    <div class='prediction' *ngFor='let prediction of predictions | async'>
      <p>
        <label>Departure Time</label> {{prediction.attributes.departure_time | date : 'medium'}}
      </p>
      <p>
        <label>Arrival Time</label> {{prediction.attributes.arrival_time | date : 'medium'}}
      </p>
    </div>
  </div>

  <div *ngIf='(predictions | async).length === 0 && !(loadingPrediction | async) && form.valid && searchCompleted'>
    There is no train comming
  </div>
</div>
